/* Estilos da section Contact */
section.contact {
  display: grid;
  min-height: 100vh;
  color: var(--main-color-3);
  align-items: center;
}
form.contact__form {
  width: 80%;
  max-width: 700px;
  height: 90%;
  min-height: 300px;
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-around;
  background-color: var(--main-color-2);
  color: var(--main-color-1);
  justify-self: center;
}
.contact__form label {
  font-size: 3.6vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact__form input,
textarea {
  width: 100%;
  padding: 10px 10px;
  background-color: var(--main-color-3);
  -webkit-box-shadow: inset 10px 10px 4px -9px rgba(61, 60, 66, 1);
  -moz-box-shadow: inset 10px 10px 4px -9px rgba(61, 60, 66, 1);
  box-shadow: inset 10px 10px 4px -9px rgba(61, 60, 66, 1);
}
.contact__form input {
  height: 4vh;
}
.contact__form-button {
  width: 90%;
  padding: 15px;
  margin: 0 auto 0 auto;
  background-color: var(--main-color-1);
  color: var(--main-color-3);
  font-size: 5vh;
}
div.contact__alternatives-icons {
  width: max-content;
  margin: 0 auto auto;
  display: flex;
  gap: 20px;
}
div.contact__alternatives-icons a svg {
  width: 10vh;
  height: 10vh;
}

.error {
  border: 1px solid red;
}
.correct {
  border: 1px solid green;
}
