/* Estilos da section Intro */
section.intro {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  align-items: center;
  height: 100vh;
}

article.intro__social-media-icons {
  justify-self: center;
  width: max-content;
  display: flex;
  gap: 30px;
}
article.intro__social-media-icons a svg {
  width: 12vh;
  height: 12vh;
}

h1.intro__presentation {
  font-size: 7.2vh;
  padding: 0 1rem 0 1rem;
  text-align: center;
  color: var(--main-color-3);
  grid-row: 2;
}
div.intro__shape-draw {
  width: 100%;
  height: 20vh;
  background-color: var(--main-color-2);
  border: 1px solid var(--main-color-2);
  clip-path: polygon(
    32% 22%,
    51% 16%,
    68% 21%,
    86% 18%,
    100% 24%,
    100% 100%,
    0 100%,
    0 78%,
    0 26%,
    15% 18%
  );
  margin: auto auto 0 auto;
}

@media screen and (min-width: 834px) {
  /* Ajustes na Intro */
  section.intro {
    grid-template-columns: 1fr;
    grid-template-rows: 75% 25%;
    height: calc(100vh - 16vh);
    justify-content: center;
  }
  h1.intro__presentation {
    padding: 0 7rem 0 7rem;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  div.intro__shape-draw {
    display: none;
    padding: 0 100px 0 100px;
  }
}

@media screen and (min-width: 1366px) {
  /* Ajustes na section Intro */
  section.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }
  h1.intro__presentation {
    grid-column: 2;
    justify-self: center;
    padding: 0 18rem 0 0;
    text-align: left;
    margin: 0;
  }

  article.intro__social-media-icons {
    grid-column: 1;
    justify-self: center;
    order: 1;
  }

  div.intro__shape-draw {
    grid-column: 1 / span 2;
    display: block;
    order: 3;
  }
}

@media screen and (min-width: 1366px) {
  /* Animações */
  .intro__presentation {
    -webkit-animation: intro__presentation 4s linear infinite alternate both;
    animation: intro__presentation 4s linear infinite alternate both;
  }

  @-webkit-keyframes intro__presentation {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes intro__presentation {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

  article.intro__social-media-icons a {
    transition: 0.8s;
  }

  article.intro__social-media-icons a:hover {
    transform: scale(1.2);
  }
}
