/* Estilos da section Projects */
section.projects {
  min-height: 100vh;
  background-color: var(--main-color-2);
  color: var(--main-color-1);
  display: grid;
  align-items: center;
}
ul.projects__cards {
  white-space: nowrap;
  width: 85%;
  overflow-x: auto;
  padding: 20px;
  justify-self: center;
  align-self: start;
}

ul.projects__cards li {
  display: inline-block;
  margin-right: 10px;
}
img.projects__cards-img {
  width: 69vw;
  height: 30vh;
  max-width: 400px;
  max-height: 250px;
  border: 1px solid var(--main-color-3);
}
h3.projects__cards-title {
  text-align: center;
  font-size: 3.6vh;
  margin-top: 20px;
}

@media screen and (min-width: 834px) {
  /*Ajustes na seção Projects */
  ul.projects__cards {
    width: 80%;
  }

  ul.projects__cards li {
    display: inline-block;
    margin-right: 60px;
  }

  h3.projects__cards-title {
    text-align: center;
    font-size: 3vh;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1366px) {
  /* Ajustes na section Projects */
  section.projects {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0;
    align-content: center;
  }
  section.projects h2 {
    grid-column: 1;
  }
  ul.projects__cards {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  ul.projects__cards li {
    margin: 0;
    justify-self: center;
    transition: 1s;
  }
  ul.projects__cards li:hover {
    transform: scale(1.1);
  }
  h3.projects__cards-title {
    text-align: center;
    font-size: 3.6vh;
    margin-bottom: 20px;
  }
}
