:root {
  --main-color-1: #3d3c42;
  --main-color-2: #a6d1e6;
  --main-color-3: #fefbf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-color: var(--main-color-1);
  height: 100%;
}

button {
  cursor: pointer;
}

/* classe para esconder elementos */
.invisible {
  display: none;
}
